div.slidedeck__slide {
    background-color: #ccc;
    margin-bottom: .5em;
    border: 1px solid black;
}

table.slides__table {
    width: 300px;
}

table.slide__table tr.selected {
    background-color: #00b8d9;
}


div.slidedeck__slide[draggable=true] {
    background-color: #00b8d9;
}