@import "~font-awesome/css/font-awesome.css";

#slideDeck {
    height: 150px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
div.slidedeck__slide {
    background-color: #ccc;
    margin-bottom: 0.5em;
    border: 1px solid black;
}

table.slides__table {
    width: 300px;
}

table.slides__table tr.selected {
    background-color: #00b8d9;
}
.add {
    font-family: "FontAwesome";
}

div.slidedeck__slide[draggable="true"] {
    background-color: #00b8d9;
}

.slides_background_rect {
    fill: #ffffff;
    stroke: #aaaaaa;
}

.slides_delay_rect {
    fill: #dddddd;
    stroke: #dddddd;
}

.slides_duration_resize {
    fill: rgb(155, 155, 255);
}
.slides_delay_resize {
    fill: rgb(255, 155, 155);
}

.slides_rect {
    stroke: #dddddd;
    rx: 5px;
    ry: 5px;
}

.slides_rect[selected="true"] {
    stroke: #000;
    stroke-width: 5px;
    stroke-dasharray: 5px;
}

.slides_text {
    fill: #000000;
}

.slides_delete_rect {
    fill: #aaaaaa;
}

.slides_placeholder {
    rx: 5px;
    ry: 5px;
    stroke-dasharray: 5;
    fill-opacity: 0.1;
    stroke: black;
    stroke-width: 1px;
}
.slides_durationtext {
    font-weight: 600;
}

#player_placeholder {
    stroke-dasharray: none;
}

#annotation-box {
    stroke-dasharray: none;
    fill: blue;
    fill-opacity: 0.05;
}

svg.annotation-area {
    position: absolute;
}

rect.add_annotation {
    position: absolute;
    stroke: black;
    stroke-width: 1px;
}
